<%- include('../partials/header') %>

<div class="user-welcome-container">
    <div class="user-welcome">
    </div>
    <h2>MEAL PLANNER!</h2>
    <div class="user-select">
    </div>
</div>
<div class="landing-page-container">
   
</div>
<div class="new-plan">
<a href="/plans/new"> Get your plan now!</a>
</div>

<%- include('../partials/footer') %>