<%- include('../partials/header') %>
        
<form id="add-meal" action="/plans/<%= planId %>/meals" method="POST">
    <label>Meal:</label>
    <input type="text" name="name" >
    <label>Protein:</label>
    <input type="number" name="protein">
    <label>Carbs:</label>
    <input type="number" name="carbs">
    <label>Fats:</label>
    <input type="number" name="fats">
    <textarea name="description">  </textarea>
    <input type="submit" value="Add Meal">
</form>

<%- include('../partials/footer') %>